textarea{
  resize: vertical;
  max-height: 150px;
  min-height: 100px;
  max-width:100%;
}
label{
  font-size: 16px;
  display: block;
  width: 100%;
  color: #fff;
  text-align: left;
  font-weight: 600;
  font-family: sans-serif;
}
input:focus, textarea:focus{
  outline: none;
  border:2px solid #eba919;
}

